= javascript_pack_tag 'collections', 'data-turbolinks-track': 'reload'
- @body_attributes = {'data-turbolinks': "false"}
%h1= t('.all')
%ol.grid
	= render @collections
.page-load-status
	.infinite-scroll-request
		%h2= t('.loading')
	.infinite-scroll-last{style: 'display: none;'}
		%hr/
		%h2= t('.done')
	.infinite-scroll-error{style: 'display: none;'}
		%h2= t('.error')
%br/
= paginate @collections
