= form_with model: [@image, @image.comments.build] do |f|

  .field
    = f.label :username
    - if user_signed_in?
      // Autofill username if User is logged in
      = f.text_field :username, value: current_user[:name], readonly: true
    - else
      = f.text_field :username 
  .field
    = f.label :text
    = f.text_area :text

  = f.hidden_field :session_id, value: session[:session_id]
  .actions
    = f.submit 'Save'
