- img = @image
%h3= t('.details')
%h4= t('.information')
.infoBox
	- @informations.each do | attr_name, attr_val|
		%span= t('.'+attr_name)
		%span= (attr_val ? attr_val : '-')
%h4 Properties
.changeBox
	- @editables.each do | attr_name, attr_val|
		%span#img_id{data: { img_id: img.id }}= t('.' + attr_name)
		- if attr_name != 'description'
			.editContainer
				%input{
					type: 'text',
					value: attr_val,
					class: 'attr_edit_'+attr_name.to_s
				}/
		- if attr_name == 'description'
			.editContainer
				= text_area_tag('',attr_val,{class: 'attr_edit_'+attr_name.to_s})
- if !img.processed
	.proccessButton{data: { img: img.id }}
		= t('.processing')
.changeProp
	%span= t('collections.resource_name')
	.collectionList
		- @collections.each do |collection|
			%div
				%input{
					type: 'checkbox',
					checked: (img.collections.include? collection),
					data: { collection: collection.id, img: img.id }
				}/
				%span= collection.name
.deleteButton
	%span= t('.deletion', img:img.title)
.padding-element
= javascript_pack_tag 'userpanel/show_details', 'data-turbolinks-track': 'reload'
