%h1 Listing users

= link_to 'Invite new user', new_user_invitation_path

%table
  %thead
    %tr
      %th Name
      %th Admin
      %th
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.admin
        %td= link_to 'Show', user
        %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, remote: true

%br


