%p#notice= notice

%p
  %b Name:
  = @user.name
%p
  %b Admin:
  = @user.admin
%p
  %b Avatar:
  = image_tag @user.avatar.variant(resize_to_limit: [100, 100]) if @user.avatar.attached?
= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
