= form_for @rating do |f|
  - if @rating.errors.any?
    #error_explanation
      %h2= "#{pluralize(@rating.errors.count, "error")} prohibited this rating from being saved:"
      %ul
        - @rating.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :rating
    = f.number_field :rating
  = f.hidden_field  :rateable_id, value: @rating.rateable_id
  = f.hidden_field :rateable_type, value: @rating.rateable_type
  = f.hidden_field :session_id, value: @rating.session_id
  = @rating.rateable_id
  = @rating.rateable_type
  .actions
    = f.submit 'Save'
