#view
	#control
		%h3= t('.categories')
		= link_to t(".images"), userpanel_show_images_path, :id => 'imgButton', :remote => true
		= link_to t(".collections"), userpanel_show_collections_path,:id => 'colButton', :remote => true
	#show
		= render(partial: 'userpanels/views/show_images')
	#details
= javascript_pack_tag 'userpanel/userpanel_index.js', 'data-turbolinks-track': 'reload'
%style
	:plain
		body,
		html {
			margin: 0px;
			height: 100%;
			overflow: hidden;
		}
