= javascript_pack_tag 'description', 'data-turbolinks-track': 'reload'
#description
  %p
    %b= @image.created_at.strftime("%e.%m.%Y")
  #description-preview
    #preview-text
      = truncate(@image.description, length: 200)
    = link_to "Read more", '', id: "extend-description"
  #description-full{style: "display: none;"}
    = simple_format(@image.description)
    %hr
    #description-exif
      = render 'exif'
      = link_to "Re-analyse exif", analyse_image_path(@image, :format => "js"), method: :patch, remote: true
    = link_to "Read less", '', id: "truncate-description"
    // https://developer.here.com/pricing#plan-details
    // https://developers.google.com/maps?hl=de