= javascript_pack_tag 'description', 'data-turbolinks-track': 'reload'
#description
	%p
		%b= l @image.created_at.to_date
	#description-preview
		#preview-text
			= @image.description_short
		= link_to t(".more"), '', id: "extend-description"
	#description-full{style: 'display: none;'}
		= simple_format(@image.description)
		%hr/
		#description-exif= render 'images/exif'
		= link_to t(".less"), '', id: "truncate-description"
