%p
    Maker:
    = @image.exif_camera_maker
%p
    Model:
    = @image.exif_camera_model
%p
    Lens:
    = @image.exif_lens_model
%p
    Focal Length:
    = @image.exif_focal_length
%p
    Aperture:
    = @image.exif_aperture
%p
    Exposure:
    = @image.exif_exposure
%p
    ISO:
    = @image.exif_iso
%p
    LAT:
    = @image.exif_gps_latitude
%p
    LON:
    = @image.exif_gps_longitude