= javascript_pack_tag 'images', 'data-turbolinks-track': 'reload'
%h1= t('.all')
= link_to t('.new'), new_image_path
%ol.grid
	= render @images
.page-load-status
	.infinite-scroll-request
		%h2= t('.loading')
	.infinite-scroll-last{style: 'display: none;'}
		%hr/
		%h2= t('.done')
	.infinite-scroll-error{style: 'display: none;'}
		%h2= t('.error')
%br/
= paginate @images
