= javascript_pack_tag 'rating', 'data-turbolinks-track': 'reload'
%p#notice= notice

%p
  %b Title:
  = @image.title
%p
  %b Description:
  = @image.description
%p
  %b Image File:
  = image_tag @image.image_file
%p
  %b Owner:
  = link_to @image.owner.name, @image.owner

- unless session[:session_id].nil?
  %input{:type=>"hidden", :value=>session[:session_id], :name=>:session_id}
  %ul#rating
    - user_rate = (@image.get_rate(session[:session_id])&.rating) || 0
    - (1..5).each do |i|
      %li{class: "rating-star" + (user_rate >= i ? " star-active" : " star-inactive"), id: "star_#{i}", "data-rateable-type": "Image", "data-rateable-id": "#{@image.id}", "data-stars": "#{i}"}
        Star!
- else 
  Please activate cookies to rate!

%p#score-area{:style => (@image.get_ratings.count > 0 ? "" : "display:none;")}
  Rating: 
  %span#score= @image.get_score.round(1)
  Number of ratings: 
  %span#nr-ratings= @image.get_ratings.count
= link_to 'Edit', edit_image_path(@image)
\|
= link_to 'Back', images_path

%h3 New Comment
= render 'comments/form'
%h2
  =@image.comments.count
  Comments
= render @image.comments[0...-1]



