= javascript_pack_tag 'rating', 'image', 'data-turbolinks-track': 'reload'
- @title = @image.title
- @active = @collection.nil? ? "" : "collections"
- unless @image.processed
	%span#processing{style: 'display: none;'}= t('.processing')
%p#notice= notice
= link_to @collection.nil? ? @image.previous(current_user, @collection) : collection_image_path(@collection, @image.previous(current_user, @collection)) do
	.pagination#paginationL
		<
= link_to @collection.nil? ? @image.next(current_user, @collection) : collection_image_path(@collection, @image.next(current_user, @collection)) do
	.pagination#paginationR
		>
#main-image
	- if @image.image_file.attached?
		= image_tag @image.image_file
%h1#image-title= @image.title
= render 'ratings/interface', locals: {rateable: @image}
= render 'ratings/score', locals: {rateable: @image}
= render 'images/description'
%hr.description-comment/
#comments
	%h2#comment-count= t('.comments_count', count: @image.comments.count)
	= render 'comments/form'
	/ / The last comment is empty because it gets created by 'render'
	#comments-list
		= render @image.comments[0...-1].reverse
