%p#notice= notice

%p
  %b Title:
  = @image.title
%p
  %b Description:
  = @image.description
%p
  %b Image File:
  = image_tag @image.image_file
%p
  %b Owner:
  = link_to @image.owner.name, @image.owner
%p 
  Current uuid: 
  - if session[:session_id].nil?
    Please activate cookies to rate!
  - else 
    = session[:session_id]
    %br
    = render 'ratings/form' unless @image.has_rated?(session[:session_id]) 
    //TODO https://stackoverflow.com/questions/3928466/ruby-on-rails-update-div-on-click-with-link-to-remote 
%p 
  This image has a score of
  = @image.get_score
  %br 
  from 
  = @image.get_ratings.count
  Ratings
= link_to 'Edit', edit_image_path(@image)
\|
= link_to 'Back', images_path
